<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_stylesheet.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="container">

        <div class="welcome">
                <h1>Welcome {{user["first_name"]}}</h1>
        </div>

        <form action="/" class="logout_form">
            <input type="submit" name="logout" value="logout">
        </form>

        <form action='/tweets/create' method="POST" id="form">
            <h2>What's happening?</h2>
            <textarea cols="80" rows="10" name="make_tweet" class="make_tweet" id="make_tweet" form="form" maxlength="255"></textarea>
            <input type="submit" name="Post" value="Post">
        </form>
        <h2>Feed</h2>
        {%for tweet in tweets%}
            <p>posted by {{tweet["first_name"]}} {{tweet["last_name"]}} {{tweet["id"]}}</p>
            <div class="post">
                {{tweet["content"]}}
            </div>
            <a href="{{'/tweets/%s/add_like'%tweet.id}}">Like</a>

            {%if tweet["users_id"] == user["id"]%}
                <a href="{{'/tweets/%s/delete'%tweet.id}}">delete</a>
            {%endif%}
            
            <p>created at {{tweet["created_at"]}}</p>
            <p>----------------------------------------------</p>
        {%endfor%}
    </div>
</body>
</html>